html,
body,
header,
#intro {
    height:100%;
}

#intro {
    background: url("http://www.antlia.com.br/wp-content/uploads/2019/07/letras.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;

    
   
}